<%- include('layout/header'); -%>
    <div class="mdk-header-layout__content page-content " style="padding-top: 64px;">



        <div class="pt-32pt">
            <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                <div class="flex d-flex flex-column flex-sm-row align-items-center">

                    <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                        <h2 class="mb-0">Chào mừng sinh viên đến với trang chủ Bách Khoa:</h2>



                    </div>
                </div>


            </div>
        </div>













        <div class="container page__container page-section">

            <div class="card mb-0">


                <div data-toggle="lists" data-lists-values="[
&quot;js-lists-values-course&quot;, 
&quot;js-lists-values-document&quot;,
&quot;js-lists-values-amount&quot;,
&quot;js-lists-values-date&quot;
]" data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                    <table class="table table-flush table-nowrap">

                        <tbody class="list">
                            <tr>
                                <td>
                                    <div class="d-flex flex-nowrap align-items-center">
                                        <a href="fixed-instructor-edit-course.html" class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                            <img src="assets/images/paths/angular_200x168.png" alt="course" class="avatar-img rounded">
                                            <span class="overlay__content"></span>
                                        </a>
                                        <div class="flex">
                                            <a class="card-title js-lists-values-course" href="/student/subject">Đăng
                                                ký môn học</a>
                                            <div class="card-subtitle text-muted mr-1">
                                                Đăng ký môn cho học kỳ tiếp theo
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-nowrap align-items-center">
                                        <a href="fixed-instructor-edit-course.html" class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                            <img src="assets/images/paths/angular_200x168.png" alt="course" class="avatar-img rounded">
                                            <span class="overlay__content"></span>
                                        </a>
                                        <div class="flex">
                                            <a class="card-title js-lists-values-course" href="/student/register">Đăng
                                                ký lớp</a>
                                            <div class="card-subtitle text-muted mr-1">
                                                Đăng ký lớp cho học kỳ tiếp theo
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-nowrap align-items-center">
                                        <a href="fixed-instructor-edit-course.html" class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                            <img src="assets/images/paths/typescript_200x168.png" alt="course" class="avatar-img rounded">
                                            <span class="overlay__content"></span>
                                        </a>
                                        <div class="flex">
                                            <a class="card-title js-lists-values-course" href="/student/info">Xem thông
                                                tin các kỳ</a>
                                            <div class="card-subtitle text-muted mr-1">
                                                Xem thông tin về các kỳ học học: lớp, môn, giáo trình...
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-nowrap align-items-center">
                                        <a href="fixed-instructor-edit-course.html" class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                            <img src="assets/images/paths/typescript_200x168.png" alt="course" class="avatar-img rounded">
                                            <span class="overlay__content"></span>
                                        </a>
                                        <div class="flex">
                                            <a class="card-title js-lists-values-course" href="/student/top3info">Xem 3
                                                học kỳ có tổng số tín chỉ cao nhất</a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">






                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>




    </div>

    <%- include('layout/footer'); -%>